* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Fonts */
h1,
p {
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: 70px;
}

nav a {
  font-weight: 500;
}

h2 {
  font-size: 42px;
  margin: 0;
  padding-top: 60px;
}

/* Navigation bar */
nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid hsla(210, 26%, 7%, 0.3);
  position: fixed;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

li {
  display: block;
}

li a {
  text-decoration: none;
  color: hsl(210, 26%, 7%);
}

/* Hover effects */
li a:hover {
  color: hsl(210, 26%, 7%, 0.5);
}

/* first page */
main {
  margin: 0 auto;
  width: 90%;
}

.first-page {
  height: 95vh;
  display: flex;
  background-image: url(assets/images/background.png);
  background-position: 70% 50%;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.right {
  justify-content: center;
}

.left {
  justify-content: flex-end;
  align-items: flex-end;
  gap: 30px;
}

.left a {
  padding: 10px 60px;
  font-size: 18px;
  background-color: black;
  color: white;
  border-radius: 14px;
  text-decoration: none;
}

/* second page */
.second-page {
  height: 95vh;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.gallery img {
  height: 390px;
  width: 100%;
  max-width: 290px;
  background-size: cover;
  object-fit: cover;
}

/* third page */
.third-page {
  height: 95vh;
}

.third-page img {
  height: 330px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 58%;
}

/* fourth page */
.fourth-page {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-answer {
  width: 80%;
}

.question-answer p {
  display: flex;
  margin: 0;
  padding: 20px 0;
  font-style: italic;
  border-bottom: 1px hsla(210, 26%, 7%, 0.7) dashed;
}

.question {
  width: 60%;
}

.question-answer p:last-child {
  border-bottom: none;
}
