* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Navigation bar */
header {
  height: 50px;
  border-bottom: 1px solid hsla(210, 26%, 7%, 0.3);
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

li {
  display: block;
}

li a {
  text-decoration: none;
  color: hsla(210, 26%, 7%, 0.7);
}

/* Hover effects */
li a:hover {
  color: hsl(210, 26%, 7%);
}

/* first page */
main {
  margin: 0 auto;
  width: 90%;
}

.first-page {
  height: 500px;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.right {
  justify-content: center;
}

.left {
  justify-content: flex-end;
  align-items: flex-end;
}

/* second page */
.second-page {
  height: 500px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.gallery img {
  height: 390px;
  width: 100%;
  max-width: 290px;
  background-size: cover;
  object-fit: cover;
}
