* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #7a8727;
}

/* Navigation bar */
nav {
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: white;
  top: 0;
}

ul {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

ul > li {
  display: block;
}

ul > li > a {
  padding: 15px;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
  color: #7a8727;
}

/* Contents */
main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 90vh;
}

.left {
  background-color: white;

  grid-column: 2 / 11;
  grid-row: 3 / 11;

  display: flex;
  align-items: center;
  padding: 0 7%;
}

.description {
  width: 60%;
}

.image-container {
  background-image: url(assets/images/cover1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid white;
  background-color: white;
  height: 80vh;
  width: 80vh;
  border-radius: 100%;
  grid-column: 9 / 12;
  grid-row: 2 / 12;
}

/* Fonts */
h1,
p {
  margin: 0;
}

.title {
  font-family: "Playfair Display", serif;
  color: #7a8727;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 20px;
}

.tagline {
  font-family: "Roboto", sans-serif;
  color: #737373;
  font-size: 1.3rem;
  line-height: 35px;
}

/* Hover effects */
ul > li > a:hover {
  transition: background-color 0.5s, color 0.5s;
  background-color: #7a8727;
  color: white;
}
