* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #7a8727;
}

/* Navigation bar */
nav {
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: white;
  top: 0;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

ul > li {
  display: block;
}

ul > li > a {
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
  color: #7a8727;
}

/* Contents */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.hero {
  height: 400px;
  width: 65%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero > section {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.left {
  gap: 20px;
  height: 60%;
}

.image-container {
  background-image: url(assets/images/cover1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  border: 10px solid white;
  background-color: white;
  height: 80vh;
  width: 80vh;
  border-radius: 100%;
  margin-left: 20px;
}

/* Fonts */
h1,
p {
  margin: 0;
}

.title {
  font-family: "Playfair Display", serif;
  color: #7a8727;
  font-weight: 900;
  font-size: 3rem;
}

.description {
  line-height: 25px;
  font-family: "Roboto", sans-serif;
}
