* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f2fcfc;
}

/* Sections */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#game {
  width: 700px;
}

#scene {
  background-image: url(/assets/images/1.svg);
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}

button {
  border: 2.5px solid #3d3b52;
  border-radius: 16px;
  background: linear-gradient(-0.51turn, #a8d67c, #74a050 30%);
  padding: 10px 20px;
  text-transform: uppercase;
  color: #30292e;
}

#controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}
