* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fafafa;
}

section.price {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 95vh;
}

.top-area {
  grid-row: 1 / 9;
  grid-column: 1 / 13;
  background-color: #1e1e1f;
}

.prices-plan {
  grid-row: 5 / 12;
  grid-column: 1 / 13;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.normal,
.organization {
  background-color: #28282a;
}

.premium {
  background-color: #1e1e1f;
}

.plan {
  width: 300px;
  height: 400px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid hsl(0, 0%, 22%);
}

.plan.premium {
  height: 440px;
}
