* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  width: 350px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  background-color: #22252d;
}

.output {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  height: 200px;
  width: 100%;
  color: white;
  padding: 30px 30px;
  font-size: 42px;
}

.keypad {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding: 20px 20px;
  background-color: #292d36;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: auto;
}

button {
  background-color: #272b33;
  font-size: 18px;
  cursor: pointer;
  border-radius: 16px;
  width: 60px;
  height: 60px;
  border: none;
}

.number {
  color: #fdfdfd;
}

.operations {
  color: #dc6161;
}

.special {
  color: #26eac9;
}
