* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background-color: black;
}

.output {
  height: 50%;
  width: 100%;
}

.keypad {
  height: 70%;
  margin: 0 20px;
  width: 100%;
}

button {
  border-radius: 16px;
  width: 60px;
  height: 60px;
}
