* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  gap: 24px;
}

/* Grid areas */
header {
  grid-column: 5 / 11;
}

main {
  grid-column: 4 / 12;
  grid-row: 2 / 4;
}

aside {
  position: fixed;
  width: 230px;
  height: 100vh;
}

/* Sections */
header {
  background-color: #191919;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
}

main {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section {
  background-color: #191919;
  border-radius: 20px;
  padding: 20px 40px;
  box-shadow: 0 3px 6px #a88250;
}

aside {
  background-color: #191919;
  padding: 20px;
}

/* Contents */
table,
td,
th {
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  background-color: #f0f2f5;
}

input {
  text-align: center;
  border: none;
  outline: none;
}

label {
  display: block;
  margin-bottom: 10px;
}

button {
  margin-top: 15px;
  border: none;
  padding: 10px 35px;
  border-radius: 14px;
  background-color: #a88250;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

/* Fonts */
p,
label {
  font-family: "Open Sans", sans-serif;
  color: white;
}

h1 {
  margin: 8px 0 12px 0;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #a88250;
}
